<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>CyMol - a Community Molecular 3D Viewer</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="./lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/style-responsive.css" rel="stylesheet">
    <link href="./css/prism.css" rel="stylesheet">
    <link href="./css/ladda-themeless.min.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/spin.min.js"></script>
    <script src="./js/ladda.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.ejs" class="logo"><b>CyMol</b></a>
            <!--logo end-->
            <!--<div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="./img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="./img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="./img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="./img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>-->
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="profile.html"><img src="./img/ui-fjossinet.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Fabrice Jossinet</h5>

                  <li class="sub-menu">
                      <a href="javascript:;">
                         <i class="fa fa-tag"></i>
                          <span>My Annotations</span>
                          <span class="badge bg-theme">4</span>
                      </a>
                      <ul class="sub">
                          <li><a href="javascript:;">Annotation 1</a></li>
                          <li><a href="javascript:;">Annotation 2</a></li>
                          <li><a href="javascript:;">Annotation 3</a></li>
                          <li><a href="javascript:;">Annotation 4</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-heart"></i>
                          <span>My Structures</span>
                          <span class="badge bg-theme">3</span>
                      </a>
                      <ul class="sub">
                          <li><a href="javascript:;">1EHZ</a></li>
                          <li><a href="javascript:;">1FFK</a></li>
                          <li><a href="javascript:;">4DNO</a></li>
                      </ul>
                  </li>

                  <!--<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>My Settings</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="javascript:;">Calendar</a></li>
                          <li><a  href="javascript:;">Gallery</a></li>
                          <li><a  href="javascript:;">Todo List</a></li>
                      </ul>
                  </li>-->
                  <!--<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Extra Pages</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                      </ul>
                  </li>-->
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content" style="margin-left: 210px;">
          <section class="wrapper">
              <div class="row">
                <div class="col-lg-9">
                    <div class="row" style="margin-top:10px;">
                        <form class="form-horizontal style-form" method="get">
                            <input type="text" class="form-control col-lg-1 col-lg-offset-4" id="pdbId" style="width:70px; float:left; margin-right:10px;" placeholder="PDB ID">
                            <button class="btn btn-primary ladda-button col-lg-1" data-style="expand-left" id="loadPDB" style="float:left; margin-right:10px;"><span class="ladda-label"><i class="fa fa-download"></i> Load</span></span><span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
                            <button type="button" class="btn btn-theme04 col-lg-2"><i class="fa fa-heart"></i> Add to favorites</button>
                        </form>
                    </div>
                    <div class="row center-block" style="margin-top:10px; box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);">
                        <div id="viewer_3Dmoljs" style="height: 700px; width: 100%; position: relative;" class='viewer_3Dmoljs' data-backgroundcolor='0xffffff'></div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-lg-6">
                              <h4 class="mb centered">Controls</h4>
                              <form class="form-horizontal style-form" method="get">
                              <div class="form-group">
                                    <label class="col-lg-2 control-label">Selection</label>
                                    <div class="col-lg-10">
                                        <select id="chain" style="float:left; margin-right:10px; width:70px;" class="form-control">
                                            <option selected disabled>Chain</option>
                                          </select>
                                        <input style="width:70px; float:left; margin-right:10px;" type="text" class="form-control" id="selectFrom" placeholder="from">
                                        <input style="width:70px;" type="text" class="form-control" id="selectTo" placeholder="to">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Action</label>
                                    <div class="col-lg-10">
                                          <button type="button" class="btn btn-round btn-success" id="showSelection">Show</button>
                                          <button type="button" class="btn btn-round btn-success" id="onlySelection">Only</button>
                                          <button type="button" class="btn btn-round btn-success" id="hideSelection">Hide</button>
                                          <button type="button" class="btn btn-round btn-success" id="zoomSelection">Zoom</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Highlight</label>
                                    <div class="col-lg-10">
                                          <button type="button" class="btn btn-round btn-success" id="showHighlight">Show</button>
                                          <button type="button" class="btn btn-round btn-success" id="hideHighlight">Hide</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Labels</label>
                                    <div class="col-lg-10">
                                          <button type="button" class="btn btn-round btn-success" id="showLabels">Show</button>
                                          <button type="button" class="btn btn-round btn-success" id="hideLabels">Hide</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Style</label>
                                    <div class="col-lg-10">
                                          <button type="button" class="btn btn-round btn-success" id="line">Line</button>
                                          <button type="button" class="btn btn-round btn-success" id="stick">Stick</button>
                                          <button type="button" class="btn btn-round btn-success" id="cartoon">Cartoon</button>
                                          <button type="button" class="btn btn-round btn-success" id="sphere">Sphere</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Color</label>
                                    <div class="col-lg-10">
                                          <button type="button" class="btn btn-round btn-success" id="spectrum">Spectrum</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                              <h4 class="mb centered">Annotation</h4>
                              <form class="form-horizontal style-form" method="get">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Content</label>
                                    <div class="col-lg-10">
                                        <textarea rows="4" cols="50" class="form-control" >
                                        </textarea>
                                        <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>

                                </div>
                                <div class="form-group">
                                  <label class="col-lg-2 control-label">Status</label>
                                  <div class="col-lg-6">
                                        <button type="button" class="btn btn-round btn-success">Public</button>
                                        <button type="button" class="btn btn-round btn-danger">Private</button>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-lg-8 col-lg-offset-2">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-tag"></i> Add/Update</button>
                                        <button type="button" class="btn btn-primary"><i class="fa fa-times"></i> Remove</button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

                  <div class="col-lg-3 ds">
                      <div style="margin-bottom: 20px;">
                        Crystal structure of Bacillus subtilis cyclic-di-AMP riboswitch ydaO.
                      </div>

                      <h3>ANNOTATIONS</h3>

                      <!-- First Action -->
                      <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>2 Minutes Ago</muted><br/>
                               <a href="#">Bruce Wayne</a> annotated 1EHZ.<br/>
                            </p>
                        </div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>3 Hours Ago</muted><br/>
                               <a href="#">Fabrice Jossinet</a> annotated 1FFK.<br/>
                            </p>
                        </div>
                      </div>

                      <!-- Third Action -->
                      <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>2 Days Ago</muted><br/>
                               <a href="#">Kylo Ren</a> annotated 4DNO.<br/>
                            </p>
                        </div>
                      </div>

                       <!-- USERS ONLINE SECTION -->
                        <h3>ANNOTATORS</h3>
                      <!-- First Member -->
                      <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="./img/ui-fjossinet.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Fabrice Jossinet</a><br/>
                               <muted>Available</muted>
                            </p>
                        </div>
                      </div>
                      <!-- Second Member -->
                      <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="./img/ui-bwayne.png" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Bruce Wayne</a><br/>
                               <muted>I am Busy</muted>
                            </p>
                        </div>
                      </div>
                      <!-- Third Member -->
                      <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="./img/ui-kyloren.png" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Kylo Ren</a><br/>
                               <muted>Available</muted>
                            </p>
                        </div>
                      </div>

                        <!-- CALENDAR-->
                        <!--<div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div>--><!-- / calendar -->

                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 - Fabrice Jossinet
              <a href="index.ejs#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
    <script src="./js/jquery-1.8.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="./js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="./js/jquery.scrollTo.min.js"></script>
    <script src="./js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="./js/jquery.sparkline.js"></script>

    <!--common script for all pages-->
    <script src="./js/common-scripts.js"></script>

    <script type="text/javascript" src="./js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="./js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="./js/sparkline-chart.js"></script>
    <script src="./js/3Dmol.js"></script>
    <script src="./js/underscore-min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: 'Welcome to CyMol!',
                // (string | mandatory) the text inside the notification
                text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
                // (string | optional) the image to display on the left
                image: './img/ui-fjossinet.jpg',
                // (bool | optional) if you want it to fade out on its own or just sit there
                sticky: true,
                // (int | optional) the time you want it to be alive for before fading out
                time: '',
                // (string | optional) the class name you want to apply to that specific message
                class_name: 'my-sticky-class'
            });

            var getAllAsSelection = function() {
              var chains = [];
                $("#chain option").each(function() {
                    if ($(this).val() != "Chain" && $(this).val() != "All")
                      chains.push($(this).val());
                });
                selection = {'chain': chains};
                return selection;
            }

            var getCurrentSelection = function() {
              var selection = undefined;
              if ($("#chain").val() == "All") {
                var chains = [];
                $("#chain option").each(function() {
                    if ($(this).val() != "Chain" && $(this).val() != "All")
                      chains.push($(this).val());
                });
                selection = {'chain': chains};
              } else {
                selection = {'chain': $("#chain").val()};
                if ($("#selectFrom").val() != null && $("#selectFrom").val() != "" && $("#selectTo").val() != null && $("#selectTo").val() != "") {
                  var resi = [];
                  for (var i = parseInt($("#selectFrom").val()) ; i <= parseInt($("#selectTo").val()) ; i++)
                    resi.push(i);
                  selection['resi'] = resi;
                }
              }
              return selection;
            }

            var socket = io();
            var ladda = undefined;

            socket.on('gotPDB', function(pdbId, data, chains) {
                $3Dmol.viewers['viewer_3Dmoljs'].clear();
                $3Dmol.viewers['viewer_3Dmoljs'].addModel(data,'pdb');

                $3Dmol.viewers['viewer_3Dmoljs'].zoomTo();
                $3Dmol.viewers['viewer_3Dmoljs'].render();

                $("#chain").find('option').remove().end().append('<option selected disabled>Chain</option>');
                $("#chain").append('<option>All</option>')
                for (var i = 0 ; i < chains.length; i++)
                  $("#chain").append('<option>'+chains[i]+'</option>');
                if (ladda != undefined)
                  ladda.stop();
            });

            $('#loadPDB').click(function(e) {
                e.preventDefault();
                if (ladda == undefined)
                  ladda = Ladda.create(this);
                ladda.start();
                $3Dmol.viewers['viewer_3Dmoljs'].clear();
                socket.emit('loadPDB', $("#pdbId").val());
            });

            $('#showHighlight').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].removeAllSurfaces();
                  $3Dmol.viewers['viewer_3Dmoljs'].addSurface($3Dmol.SurfaceType.VDW, $3Dmol.specStringToObject("opacity:.7;color:green"), getCurrentSelection(), getCurrentSelection());
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#hideHighlight').click(function(e) {
                $3Dmol.viewers['viewer_3Dmoljs'].removeAllSurfaces();
                $3Dmol.viewers['viewer_3Dmoljs'].render();
            });

            $('#showSelection').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("line"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#onlySelection').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getAllAsSelection(), $3Dmol.specStringToObject("hide"));
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("line"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#hideSelection').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("hide"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#zoomSelection').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].zoomTo(getCurrentSelection());
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#line').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("line"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#stick').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("stick"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#cartoon').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("cartoon"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#sphere').click(function(e) {
                if ($("#chain").val() != undefined) {
                  $3Dmol.viewers['viewer_3Dmoljs'].setStyle(getCurrentSelection(), $3Dmol.specStringToObject("sphere"));
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
                }
            });

            $('#recenter').click(function(e) {
                  $3Dmol.viewers['viewer_3Dmoljs'].zoomTo();
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
            });

            $('#showLabels').click(function(e) {
                  var atoms = $3Dmol.viewers['viewer_3Dmoljs'].getModel().selectedAtoms({atom:'CA'});
                  for ( var a in atoms) {
                      var atom = atoms[a];

                      var l = $3Dmol.viewers['viewer_3Dmoljs'].addLabel(atom.resn + " " + atom.resi, {
                          inFront : true,
                          fontSize : 12,
                          position : {
                            x : atom.x,
                            y : atom.y,
                            z : atom.z
                          }
                      });
                      atom.label = l;
                  }
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
            });

            $('#hideLabels').click(function(e) {
                  var atoms = $3Dmol.viewers['viewer_3Dmoljs'].getModel().selectedAtoms({atom:'CA'});
                  for ( var a in atoms) {
                      var atom = atoms[a];
                      $3Dmol.viewers['viewer_3Dmoljs'].removeLabel(atom.label);
                  }
                  $3Dmol.viewers['viewer_3Dmoljs'].render();
            });
            
            socket.emit('loadPDB', "1EHZ");

            return false;
        });


    </script>

  </body>
</html>
